/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background: url("https://tailwindadmin.netlify.app/dist/images/login-new.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
